<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDTXKGmLbUdDs6jcN3E70LVIxiziO5tMG8</string>
	<key>GCM_SENDER_ID</key>
	<string>53538905718</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.speechToTerms</string>
	<key>PROJECT_ID</key>
	<string>speech-to-terms</string>
	<key>STORAGE_BUCKET</key>
	<string>speech-to-terms.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:53538905718:ios:de26af8fd6ec7ddaafc957</string>
</dict>
</plist>